In [108]:
import pandas as pd

In [109]:
data = pd.read_csv('/Users/enriqueareyan/Documents/workspace/scml2020/stats1.csv')

In [110]:
data.columns

Index(['Unnamed: 0', 'n_registered_negotiations_before', 'n_contracts_dropped',
       'n_contracts_nullified_now', 'n_bankrupt', 'trading_price_0',
       'sold_quantity_0', 'unit_price_0', 'trading_price_1', 'sold_quantity_1',
       ...
       'n_contracts_concluded', 'n_negotiations',
       'n_negotiation_rounds_successful', 'n_negotiation_rounds_failed',
       'n_negotiation_successful', 'n_negotiation_failed',
       'n_registered_negotiations_after', 'activity_level', 'step_time',
       'total_time'],
      dtype='object', length=113)

# Function to...

In [73]:
def get_score(file_location, last_step):
    data = pd.read_csv(file_location)
    df = data[[col for col in data.columns if col.startswith("score")]].reset_index()
    df = df[df['index'] == last_step]
    df = df.drop(['index'], axis=1)
    return df.T

In [78]:
data = pd.concat([get_score('/Users/enriqueareyan/Documents/workspace/scml2020/stats' + str(i) + '.csv', last_step=9) for i in range(0, 3)]).reset_index()

In [79]:
data

            index         9
0   score_00Ran@0 -0.482018
1   score_01Buy@0 -0.300590
2   score_02Ran@1 -0.241201
3   score_03Dec@1  0.376419
4   score_04Dec@2  0.355906
5   score_05Buy@2 -0.217791
6   score_06Ran@3 -0.354075
7   score_07Buy@3 -0.305830
8   score_00Ran@0 -0.287559
9   score_01Buy@0 -0.357981
10  score_02Buy@1 -0.012782
11  score_03Dec@1  0.424636
12  score_04Ran@2 -0.214559
13  score_05Dec@2  0.221148
14  score_06Ran@3 -0.465646
15  score_07Buy@3 -0.222081
16  score_00Ran@0 -0.442975
17  score_01Buy@0 -0.187879
18  score_02Dec@1  0.335826
19  score_03Dec@1  0.405385
20  score_04Buy@2 -0.261314
21  score_05Ran@2 -0.370599
22  score_06Ran@3 -0.229361
23  score_07Buy@3 -0.211617

In [106]:
data['names'] = data.apply(lambda row: row['index'][8:11], axis=1)

In [107]:
data

            index         9 names
0   score_00Ran@0 -0.482018   Ran
1   score_01Buy@0 -0.300590   Buy
2   score_02Ran@1 -0.241201   Ran
3   score_03Dec@1  0.376419   Dec
4   score_04Dec@2  0.355906   Dec
5   score_05Buy@2 -0.217791   Buy
6   score_06Ran@3 -0.354075   Ran
7   score_07Buy@3 -0.305830   Buy
8   score_00Ran@0 -0.287559   Ran
9   score_01Buy@0 -0.357981   Buy
10  score_02Buy@1 -0.012782   Buy
11  score_03Dec@1  0.424636   Dec
12  score_04Ran@2 -0.214559   Ran
13  score_05Dec@2  0.221148   Dec
14  score_06Ran@3 -0.465646   Ran
15  score_07Buy@3 -0.222081   Buy
16  score_00Ran@0 -0.442975   Ran
17  score_01Buy@0 -0.187879   Buy
18  score_02Dec@1  0.335826   Dec
19  score_03Dec@1  0.405385   Dec
20  score_04Buy@2 -0.261314   Buy
21  score_05Ran@2 -0.370599   Ran
22  score_06Ran@3 -0.229361   Ran
23  score_07Buy@3 -0.211617   Buy

# Compute the mean

In [104]:
data.groupby('names').mean()

              9
names
Buy   -0.230874
Dec    0.353220
Ran   -0.343110

In [105]:
data.groupby('names').count()

       index  9
names
Buy        9  9
Dec        6  6
Ran        9  9