# Computing average scores for agents across a data sample of 10 games, 50 steps each
## computing for DecentralizingAgent (Dec), BuyCheapSellExpensiveAgent (Buy), ReactiveAgent (Rea), MovingRangeAgent (Mov), IndDecentralizingAgent (Ind), and RandomAgent (Ran)

In [45]:
import pandas as pd

## Creating initial dataset object, "data"
### Contains only one stats file, stats0.csv

In [36]:
data = pd.read_csv('/Users/dannysilverston/Desktop/scmlStuff/stats0.csv')

## Checking columns
### insuring that all of the csv file and the correct csv file was read

In [37]:
data.columns

Index(['Unnamed: 0', 'n_registered_negotiations_before', 'n_contracts_dropped',
       'n_contracts_nullified_now', 'n_bankrupt', 'trading_price_0',
       'sold_quantity_0', 'unit_price_0', 'trading_price_1', 'sold_quantity_1',
       ...
       'n_contracts_concluded', 'n_negotiations',
       'n_negotiation_rounds_successful', 'n_negotiation_rounds_failed',
       'n_negotiation_successful', 'n_negotiation_failed',
       'n_registered_negotiations_after', 'activity_level', 'step_time',
       'total_time'],
      dtype='object', length=134)

## Function to filter out scores
### filters out all the cells in the last row under a "score" column

In [38]:
def get_score(file_location, last_step):
    data = pd.read_csv(file_location)
    df = data[[col for col in data.columns if col.startswith("score")]].reset_index()
    df = df[df['index'] == last_step]
    df = df.drop(['index'], axis=1)
    return df.T

## Concatenating all the scores in all stats files

In [39]:
data = pd.concat([get_score('/Users/dannysilverston/Desktop/scmlStuff/stats' + str(i) + '.csv', last_step=49) for i in range(0, 10)]).reset_index()

In [40]:
data

            index        49
0   score_00Ran@0 -0.189888
1   score_01Buy@0 -0.206362
2   score_02Buy@1 -0.145407
3   score_03Mov@1  0.010587
4   score_04Ind@2  0.129163
..            ...       ...
75  score_01Ran@0 -0.604275
76  score_02Rea@1  0.000000
77  score_03Dec@1  0.488929
78  score_04Ind@2 -0.075542
79  score_05Mov@2 -0.152517

[80 rows x 2 columns]

## Creating a new column for agent name
### Looks for a three-letter ID, the first three letters of the agent's name

In [41]:
data['names'] = data.apply(lambda row: row['index'][8:11], axis=1)

In [42]:
data

            index        49 names
0   score_00Ran@0 -0.189888   Ran
1   score_01Buy@0 -0.206362   Buy
2   score_02Buy@1 -0.145407   Buy
3   score_03Mov@1  0.010587   Mov
4   score_04Ind@2  0.129163   Ind
..            ...       ...   ...
75  score_01Ran@0 -0.604275   Ran
76  score_02Rea@1  0.000000   Rea
77  score_03Dec@1  0.488929   Dec
78  score_04Ind@2 -0.075542   Ind
79  score_05Mov@2 -0.152517   Mov

[80 rows x 3 columns]

## Computing the mean for each agent
### first grouping by name, then computing the mean

In [43]:
data.groupby('names').mean()

             49
names
Buy   -0.614831
Dec    0.265386
Ind    0.156449
Mov   -0.076669
Ran   -0.609964
Rea   -0.063151

## Counting the instances of each agent

In [44]:
data.groupby('names').count()

       index  49
names
Buy       20  20
Dec       10  10
Ind       10  10
Mov       10  10
Ran       20  20
Rea       10  10